PORT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=

# Configuración de email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tucuenta@gmail.com
EMAIL_PASS=contrasena_de_aplicacion_gmail
EMAIL_FROM=SistemaDeTurnos <tucuenta@gmail.com>
